<% layout('layouts/boilerplate')%>
    <script>
        let pedidos = <% - JSON.stringify(pedidos) %>
    </script>
    <link rel="stylesheet" href="/styles/metodos.css">
    <div class="row">
        <div class="col-lg-4">
            <!-- <div class=" d-lg-none">
                <a href="pedidos/novo" class="btn btn-primary d-block">Novo Pedido</a>
            </div> -->
            <form action="/pedidos" method="GET" class="m-3 ">
                <label for="data">Data:</label>
                <input type="date" name="data" id="data" value="<%=data%>">
                <button class="btn btn-primary ">Filtrar</button>
            </form>
            <% if(pedidos.length){ %>
                <table class="table table-sm mb-3">
                    <thead>
                        <tr>
                            <th colspan="100%">
                                Totais por produto
                            </th>
                        </tr>
                        <tr>
                            <th>Produto</th>
                            <th>Quantidade</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i in produtosTotais){ %>
                            <tr>
                                <th>
                                    <%=i.capitalize()%>
                                </th>
                                <td>
                                    <%=produtosTotais[i].qty %>
                                </td>
                                <td>
                                    R$<%=produtosTotais[i].valor.toFixed(2)%>
                                </td>

                            </tr>
                            <% } %>
                    </tbody>
                </table>

                <table class="table table-sm mb-3">
                    <thead>
                        <tr>
                            <th colspan="100%">
                                Totais por Metodo de Pagamento
                            </th>
                        </tr>
                        <tr>
                            <th>Metodo</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i in pagamentosTotais){ %>
                            <tr>
                                <th>
                                    <%=i.capitalize()%>
                                </th>
                                <td>
                                    R$<%=pagamentosTotais[i].toFixed(2) %>
                                </td>

                            </tr>
                            <% } %>
                    </tbody>
                </table>
                <% } else{%>
                    <h6>Nenhum Pedido Localizado...</h6>
                    <% } %>
        </div>

        <div class="col-lg-8 ">

            <table class="table table-sm table-responsive table-hover ">

                <thead class="table-dark">
                    <tr>
                        <th>#N°</th>
                        <th>Hora</th>
                        <!-- <th>Status</th> -->
                        <th>Nome</th>
                        <th class="d-none d-lg-block">Telefone</th>
                        <th>Entrega</th>
                        <th class="d-none d-lg-block">Pagamento</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <% if(pedidos.length){ %>
                    <tbody class="pedidos">
                        <% for(let pedido of pedidos){%>
                            <tr data-url="/pedidos/<%=pedido._id%>">
                                <td>
                                    <span class="badge rounded-pill bg-primary">
                                        #<%=pedido.numero%>
                                    </span>

                                </td>
                                <td>
                                    <%=helper.formatHour(pedido.data)%>
                                </td>
                                <!-- <td>
                                pedido.status
                            </td> -->
                                <td>
                                    <% if(pedido.cliente._id){ %>
                                        <a href="/clientes/<%=pedido.cliente._id%>">
                                            <%=pedido.cliente.nome%>
                                        </a>
                                        <%}else{%>
                                            <%=pedido.cliente.nome%>
                                                <%}%>

                                </td>
                                <td class="d-none d-lg-block">
                                    <%if(pedido.cliente.telefone){%>
                                        <a
                                            href="whatsapp://send?phone=55<%=pedido.cliente.telefone%>&text=Oi+<%=pedido.cliente.nome.capitalize()%>">
                                            <%=pedido.cliente.telefone%>
                                        </a>
                                        <%}else{%>
                                            <span>-</span>
                                            <%}%>

                                </td>
                                <td class="<%=pedido.entrega%>">
                                    <%=pedido.entrega%>
                                </td>
                                <td class="<%=pedido.pagamento.metodo%> d-none d-lg-block">
                                    <%=pedido.pagamento.metodo%>
                                </td>
                                <td>
                                    R$<%=pedido.pagamento.total.toFixed(2)%>
                                </td>

                            </tr>
                            <%}%>
                    </tbody>
                    <% }else{ %>
                        <tbody>
                            <tr>
                                <td colspan="100%"><span class="lead text-center">Nada para ver aqui...</span></td>
                            </tr>
                            <% } %>
                        </tbody>
            </table>

        </div>
    </div>

    <%- include('../partials/tables')%>