<% layout('layouts/boilerplate')%>
    <div class="container">
        <div class="row">
            <div class=" col-6 offset-3  mb-2" id="comanda"
                style="width: 47mm; font-family: monospace; font-size: small; ">
                <h6 style="margin: 0%;">
                    <%=helper.formatDate(pedido.data) %>
                </h6>
                <h2 class="text-center text-nowrap">
                    #<%=pedido.numero%> <span>
                            <%=pedido.entrega%>
                        </span>
                </h2>
                <hr>
                <h6>
                    <%=pedido.cliente.nome%>

                </h6>
                <% if(pedido.entrega!="balcao" ) {%>
                    <h6>
                        <%=pedido.cliente.telefone%>
                    </h6>
                    <%}%>
                        <p>
                            <%=pedido.cliente.endereco%>
                        </p>
                        <hr>
                        <table class="table text-center table-sm ">
                            <thead>
                                <th>Qty</th>
                                <th>Desc</th>
                                <th>V.Und</th>
                            </thead>
                            <tbody>
                                <%for(let item of pedido.itens){%>
                                    <tr>
                                        <td class="text-center">
                                            <%=item.qty%>
                                        </td>
                                        <td>
                                            <%=item.desc%>
                                        </td>

                                        <td>
                                            R$<%=item.valor%>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class=" text-center" colspan="3">
                                            <%=item.prot + " " +item.obs%>
                                        </td>
                                    </tr>
                                    <%}%>

                            </tbody>

                        </table>
                        <hr>
                        <table>
                            <tbody class="text-start">
                                <% if(pedido.entrega!="balcão" ){ %>
                                    <tr>
                                        <th>Total itens:</th>
                                        <td>R$<%=pedido.pagamento.subtotal%>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Taxa entrega:</th>
                                        <td>R$<%=pedido.cliente.frete%>
                                        </td>
                                    </tr>
                                    <% } %>
                                        <tr>
                                            <th>Total:</th>
                                            <td>R$<%=pedido.pagamento.total%>
                                            </td>
                                        </tr>
                            </tbody>
                        </table>
                        <% if(pedido.pagamento.metodo!="pendente" ){ %>
                            <hr>
                            <h4>
                                <%=pedido.pagamento.metodo%>
                            </h4>
                            <%}%>

                                <%if(pedido.pagamento.trocopara){%>
                                    <table>
                                        <tr>
                                            <td>
                                                Troco para
                                            </td>
                                            <td class="fw-bold">
                                                R$<%=pedido.pagamento.trocopara%>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Troco
                                            </td>
                                            <td class="fw-bold">
                                                R$<%=pedido.pagamento.troco%>
                                            </td>
                                        </tr>
                                    </table>
                                    <%}%>

            </div>
        </div>


    </div>
    <div class="col-6 offset-3 mb-2 p-3 d-flex flex-row justify-content-center ">
        <div class="btn btn-primary" onclick="print()">Imprimir</div>
        <a href="/pedidos" class="btn btn-secondary">Pedidos</a>
        <form class="d-inline" action="/pedidos/<%=pedido._id%>?_method=DELETE" method="POST">
            <button class="btn btn-danger"
                onclick="return confirm('Tem certeza que quer apagar esse pedido?');">Apagar</button>
        </form>
    </div>

    <style>
        #comanda * {
            font-weight: bolder;
        }

        @media print {
            body * {
                visibility: hidden;
                margin: 0%;
                padding: 0%;

            }

            #comanda,
            #comanda * {
                font-family: monospace, Calibri, 'Trebuchet MS', sans-serif;
                visibility: visible;
                margin: 0%;
                padding: 0%;
            }

            #comanda {
                border: none;
                position: fixed;
                left: 0;
                top: 0;
            }
        }
    </style>
    <%if(success&&success.length){%>
        <script>
            window.onload = print();
        </script>
        <%}%>